.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ================================== */
.navigasi {
  background-color: tomato;
  padding: 1%;
  color: azure;
  display: flex;
  justify-content: space-between;
}

.pisahlink {
  background: darkslategray;
  border-radius: 10px;
  padding: 5px 10px;
}

.utama {
  background: darkslategray;
  border-radius: 10px;
  padding: 5px 10px;
}

#link {
  margin-right: 10px;
  margin-left: 10px;
}

footer {
  background-color: tomato;
  padding: 2%;
  color: azure;
}

a {
  color: azure;
  text-decoration-line: none;
}

ul li {
  color: tomato;
}

.colorlink {
  color: tomato;
}